
/** labels */

label
{
	width: 400px;
}

label.validation_message
{
	color: red;
}

/** product display */
div.product_stand
{
	position: relative;
	width: 220px;
	display: inline-table;
	text-align: center;
	vertical-align: top;
	padding: 25px 25px 25px 25px;

	border-style: solid;
	border-width: 2px;
	border-color: transparent;
}

div.product_stand:hover
{
	border-color: #ededed;
	cursor: hand;
	cursor: pointer;
	opacity: .9;
}

div.product_stand_row
{
	position: relative;
	width: 220px;
	display: table-row;
	text-align: center;
	vertical-align: middle;
}

div.product_stand_image_cell
{
	position: relative;
	width: 200px;
	height: 200px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

img.product_stand_image
{
	max-width: 200px;
	max-height: 200px;
}

div.product_stand_description_cell
{
	position: relative;
	width: 220px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

a.product_stand_description
{
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: navy;
}

a.product_stand_description:hover
{
	color: skyblue;
}

div.product_stand_seller_cell
{
	position: relative;
	width: 220px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

label.product_stand_seller
{
	font-size: 13px;
	color: grey;
}

div.product_stand_price_cell
{
	position: relative;
	width: 220px;
	display: table-cell;
	text-align: left;
	vertical-align: top;
}

label.product_stand_price
{
	font-size: 14px;
	font-weight: bold;
	color: darkred;
}

/** textboxes and password textbox */

input[type="text"], input[type="password"]
{
	font-size: 12pt;
	width: 400px;
	height: 28px;
	border: 1px solid #d1c7ac;
   	background: #ffffff;
	color: #333333;
	padding: 3px;
	margin-right: 4px;
	margin-bottom: 8px;
}

input[type="text"]:focus, input[type="password"]:focus
{
   background: #f3f3f3;
   outline: none;
}

/** submit buttons */

input[type="submit"]
{
	height: 35px;
	min-width: 410px;
	border: 0px;
	background: #00305A;
	padding: 5px 15px;
	color: #ffffff;
	cursor: pointer;
}

input[type="submit"]:hover
{
	background: #004B8D;
}

